/****************************************
 * all
 ****************************************/
* {
  margin: 0;
  padding: 0;
}
body {
  width: 100vw;
  margin: 0;
  padding: 0;
  background-color: #F0ECE8;
  font-family: "ヒラギノ丸ゴ ProN", "serif";
}
p, h1, h2, h3, h4, th, td {
  color: #454545;
}
p {
  font-size: 1.1vw;
}
img {
  width: 100%;
}
a {
  text-decoration: none;
  color: #454545;
}

/****************************************
 * header
 ****************************************/
header {
  width: 100%;
  padding: 1% 0;
  background-color: #FFFBBD;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#header_logo {
  width: 20%;
  margin-left: 2%;
}
#header_menu {
  width: 25%;
  margin-right: 2%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#header_menu a {
  border: 3px solid #2FA179;
  border-radius: 10px;
  text-align: center;
}
#header_menu a p {
  color: #2FA179;
  font-weight: bold;
  font-size: 1.4vw;
}
#header_menu_phone {
  padding: 5% 4%;
}
#header_menu_web {
  padding: 2% 4%;
}
#header_menu_web p:last-of-type {
  font-size: 1vw;
}

/****************************************
 * main
 ****************************************/

/* eyecatch */
#eyecatch {
  background-image: url("../img/eyecatch.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
#eyecatch_title {
  padding: 1% 5%;
  display: inline-block;
  background-color: #E4F1EF;
  border-radius: 100px;
}
#eyecatch_title p:first-of-type {
  font-size: 1.5vw;
}
#eyecatch_title p:last-of-type {
  font-size: 2.5vw;
}
#eyecatch_points {
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#eyecatch_points_circle {
  width: 8vw;
  height: 8vw;
  background-color: #DFD6D5;
  border-radius: 100px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}
#eyecatch_info {
  width: 60%;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#eyecatch_info_map {
  width: 50%;
}
