/********************************* spn **********************************/
/****************************************
 * all
 ****************************************/
* {
  margin: 0;
  padding: 0;
}
body {
  width: 100vw;
  margin: 0;
  padding: 0;
  background-color: #F0ECE8;
  font-family: "ヒラギノ丸ゴ ProN", "serif";
}
p, h1, h2, h3, h4, th, td, {
  color: #454545;
}
h1 {
  font-size: 3vw;
}
h2 {
  font-size: 2vw;
}
h3 {
  font-size: 1.4vw;
}
p, th, td {
  font-size: 1.1vw;
}
a {
  text-decoration: none;
  color: #454545;
}
.red {
  color: #ED767E;
  font-weight: bold;
}
img {
  width: 100%;
}
section {
  margin: 6vw 0;
}
.section_title {
  margin-bottom: 2vw;
  text-align: center;
}

/****************************************
 * header
 ****************************************/
header {
  width: 100%;
  padding: 1% 0;
  background-color: #A3BCE2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 100;
}
.header_logo {
  width: 50%;
  margin-left: 2%;
}
.header_logo img {
  width: 60%;
}
.header_menu {
  width: 50%;
  margin-right: 2%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.header_menu a {
  border: 3px solid #ffffff;
  border-radius: 10px;
  text-align: center;
}
.header_menu a p {
  color: #ffffff;
  font-weight: bold;
  font-size: 1.4vw;
}
.header_menu_phone {
  width: 30%;
  padding: 2.7% 2%;
}
.header_menu_web {
  width: 30%;
  margin-left: 2%;
  padding: 1% 2%;
}
.header_menu_web p:last-of-type {
  font-size: 1vw;
}
.header_menu_phone:hover,
.header_menu_web:hover {
  transition: all 1s ease-out;
  border-radius: 100px;
  background-color: #265fa9;
}

/****************************************
 * main
 ****************************************/

/************
 * eyecatch *
 ************/
.eyecatch {
  height: 55vw;
  margin-top: 0;
  background-image: url("../img/eyecatch.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.eyecatch_content {
  width: 50%;
}
.eyecatch_img {
  margin: 5% 0;
}
.eyecatch_img img {
  width: 30%;
}
.eyecatch_text {
  font-size: 1.4vw;
}


/****************
 * introduction *
 ****************/
.introduction_wrap {
  display: flex;
  justify-content: center;
}
.introduction_img {
  width: 70%;
  text-align: center;
}
.introduction_img img {
  width: 80%;
  margin-top: 5%;
}
.introduction_list {
  width: 30%;
  height: 23vw;
  margin-left: -30vw;
  padding: 2%;
  background-color: #ffffff;
  border-radius: 10px;
}
.introduction_list li {
  display: flex;
  margin-top: 3%;
  font-size: 1.4vw;
  align-items: center;
  list-style: none;
}
.introduction_list i {
  margin-right: 3%;
  color: #A3BCE2;
}
.introduction_arrow {
  width: 0;
  height: 0;
  margin: 0 auto;
  border-left: 50vw solid transparent;
  border-right: 50vw solid transparent;
  border-top: 15vw solid #DFD6D5;
}
.introduction_arrow_content {
  margin-top: -15vw;
  text-align: center;
}
.introduction_arrow_content p:nth-of-type(1) {
  margin: 1% 0;
  font-size: 2vw;
}
.introduction_arrow_content p:nth-of-type(2) {
  font-size: 2vw;
}
.introduction_arrow_content img:nth-of-type(1) {
  width: 40%;
}
.introduction_arrow_content img:nth-of-type(2) {
  width: 20%;
}


/***************
 * explanation *
 ***************/
.explanation_wrap {
  width: 50%;
  margin: 0 auto 8vw auto;
  padding: 5%;
  background-color: #ffffff;
  box-shadow: 2vw 2vw 0 #265fa9;
}
.explanation_wrap h3 {
  margin-bottom: 3%;
}
.explanation_wrap p {
  margin-bottom: 1%;
}


/***********
 * feature *
 ***********/
.feature_wrap {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}
.feature_item {
  width: 15%;
  height: 20vw;
  padding: 2%;
}
.feature_img {
  width: 5vw;
  height: 5vw;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  background-color: #ffffff;
}
.feature_img i {
  color: #999999;
}
.feature_text {
  margin-top: 20%;
}
.feature_text p {
  margin-top: 5%;
}
.even_item {
  background-color: #D7E7AF;
}
.odd_item {
  background-color: #d2ead5;
}


/********
 * flow *
 ********/
.flow_item {
  width: 70%;
  margin: 0 auto 5% auto;
  position: relative;
  margin-top: -2%;
}
.flow_item_dot::before {
  content: "";
  border-left: 5px dotted #A3BCE2;
  position: absolute;
  right: 0;
  left: 0;
  bottom: -90px;
  width: 5px;
  height: 90px;
  margin: auto;
}
.flow_item_number {
  display: inline-block;
  padding: 1% 2% 0.5% 2%;
  border-radius: 100px 100px 0 0;
  background-color: #A3BCE2;
}
.flow_item_number p {
  color: #ffffff;
  font-size: 1.4vw;
}
.flow_item_wrap {
  width: 96%;
  padding: 2%;
  background-color: #ffffff;
  display: flex;
  flex-flow: row-reverse;
  justify-content: center;
  align-items: center;
}
.flow_item_inner {
  width: 60%;
  margin-right: 5%;
}
.flow_item_inner h3 {
  margin-bottom: 2%;
}
.flow_item_img {
  width: 30%;
}
.flow_item_img img {
  border-radius: 20px;
}


/********
 * cost *
 ********/
.cost_items {
  width: 50%;
  margin: 2% auto;
  padding: 4% 5%;
  background-color: #ffffff;
  border-radius: 200px;
  border: 10px double #D7E7AF;
}
.cost_items h3 {
  margin-bottom: 4%;
}
.cost_items span {
  font-size: 1.5vw;
}


/************
 * question *
 ************/
.question_wrap {
  width: 100%;
}
.question_item {
  width: 70%;
  margin: 2% auto;
  padding: 2%;
  background-color: #ffffff;
  border-radius: 10px;
  border: 4px dashed #D7E7AF;
}
.question_item_q {
  margin-bottom: 1%;
}
.question_item_q span {
  margin-right: 1%;
}
.question_item_a {
  display: flex;
}
.question_item_a p:first-of-type {
  margin-right: 1%;
  color: #265fa9;
  font-size: 1.4vw;
}


/***********
 * message *
 ***********/
.message_wrap {
  width: 100%;
  display: flex;
  justify-content: center;
}
.message_left {
  width: 50%;
  padding-right: 5%;
}
.message_left p {
  margin-bottom: 3%;

}
.message_left p:last-of-type {
  text-align: right;
  font-size: 1.3vw;

}
.message_right {
  width: 25%;
  margin-right: -5%;
}
.message_right_img {
  width: 70%;
  margin-bottom: 5%;
}
.message_right_text p {
  font-size: 0.9vw;
}


/************
 * overview *
 ************/
.overview {
  margin-bottom: 0;
}
.overview_wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row-reverse;
}
.overview_table {
  width: 40%;
}
.overview_table table {
  width: 90%;
  border: 1px solid #999999;
}
.overview_table th, .overview_table td {
  padding: 1%;
  border: 1px solid #999999;
}
.overview_img {
  width: 40%;
  height: 40vh;
  overflow: hidden;
  display: flex;
  align-items: center;
}
.overview_map {
  width: 80%;
  height: 40vh;
  margin: 2% auto;
}


/****************************************
 * footer
 ****************************************/
footer {
  background-color: #A3BCE2;
  padding: 1% 0;
  text-align: center;
}
footer p {
  font-size: 0.7vw;
  color: #ffffff;
}

/********************************* spn **********************************/
@media screen and (max-width:768px) {

  /****************************************
   * all
   ****************************************/
  h1 {
    font-size: 6vw;
  }
  h2 {
    font-size: 5vw;
  }
  h3 {
    font-size: 4vw;
  }
  p, th, td {
    font-size: 3.5vw;
  }
  section {
    margin: 15vw 0;
  }
  .section_title {
    margin-bottom: 5vw;
    text-align: center;
  }


  /****************************************
   * header
   ****************************************/
  header {
    padding: 2% 0;
    display: block;
    justify-content: unset;
    align-items: unset;
    position: unset;
    z-index: unset;
  }
  .header_logo {
    width: 80%;
    margin: 0 auto;
  }
  .header_logo img {
    width: 100%;
  }
  .header_menu {
    width: 100%;
    margin: 0;
    display: flex;
    background-color: #A3BCE2;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    z-index: 100;
  }
  .header_menu a {
    border: none;
    border-left: 1px solid #ffffff;
    border-right: 1px solid #ffffff;
    border-radius: 0;
    width: 50%;
  }
  .header_menu a p {
    font-size: 4vw;
  }
  .header_menu_phone {
    padding: 2.7% 2%;
  }
  .header_menu_web {
    margin-left: 0;
    padding: 3% 2%;
  }
  .header_menu_web p:last-of-type {
    font-size: 3vw;
  }
  .header_menu_phone:hover,
  .header_menu_web:hover {
    transition: unset;
    border-radius: unset;
    background-color: unset;
  }

  /****************************************
   * main
   ****************************************/

  /************
   * eyecatch *
   ************/
  .eyecatch {
    height: 95vh;
    margin-top: 0;
    background-image: url("../img/eyecatch.jpg");
    background-size: cover;
    background-position: 30%;
    background-repeat: no-repeat;
    display: block;
    justify-content: unset;
    align-items: unset;
    position: relative;
  }
  .eyecatch_content {
    width: 80%;
    margin: 0 auto;
    padding: 5%;
    background-color: rgba(255, 255, 255, 0.7);
    position: absolute;
    bottom: 3%;
    left: 5%;
  }
  .eyecatch_img {
    margin: 5% 0;
  }
  .eyecatch_img img {
    width: 45%;
  }
  .eyecatch_text {
    font-size: 3.5vw;
  }


  /****************
   * introduction *
   ****************/
  .introduction_wrap {
    display: block;
    justify-content: unset;
  }
  .introduction_img {
    display: none;
  }
  .introduction_list {
    width: 90%;
    height: auto;
    margin: 0 auto 5% auto;
  }
  .introduction_list li {
    font-size: 3.5vw;
  }
  .introduction_arrow {
    width: 0;
    height: 0;
    margin: 0 auto;
    border-left: 50vw solid transparent;
    border-right: 50vw solid transparent;
    border-top: 15vw solid #DFD6D5;
  }
  .introduction_arrow_content {
    margin-top: 5vw;
    text-align: center;
  }
  .introduction_arrow_content p:nth-of-type(1) {
    margin: 1% 0;
    font-size: 3.5vw;
  }
  .introduction_arrow_content p:nth-of-type(2) {
    font-size: 3.5vw;
  }
  .introduction_arrow_content img:nth-of-type(1) {
    width: 80%;
  }
  .introduction_arrow_content img:nth-of-type(2) {
    width: 80%;
  }


  /***************
   * explanation *
   ***************/
  .explanation_wrap {
    width: 80%;
    margin: 0 auto 8vw auto;
    padding: 5%;
  }
  .explanation_wrap h3 {
    margin-bottom: 5%;
  }
  .explanation_wrap p {
    margin-bottom: 3%;
  }


  /***********
   * feature *
   ***********/
  .feature_wrap {
    width: 90%;
    margin: 0 auto;
    display: block;
    justify-content: unset;
  }
  .feature_item {
    width: 90%;
    height: auto;
    margin: 3% auto;
    padding: 2%;
    border-radius: 10px;
  }
  .feature_img {
    width: 20vw;
    height: 20vw;
  }
  .feature_text {
    margin-top: 5%;
  }
  .feature_text h3 {
    text-align: center;
  }
  .feature_text p {
    width: 70%;
    margin: 5% auto 0 auto;
  }


  /********
   * flow *
   ********/
  .flow_item {
    width: 90%;
    margin-bottom: 10%;
  }
  .flow_item_dot::before {
    border-left: 3px dotted #A3BCE2;
  }
  .flow_item_number {
    padding: 3% 4% 0.5% 4%;
  }
  .flow_item_number p {
    font-size: 3vw;
  }
  .flow_item_wrap {
    width: 90%;
    padding: 4%;
    display: block;
    flex-flow: unset;
    align-items: unset;
  }
  .flow_item_inner {
    width: 100%;
    margin-right: 0;
  }
  .flow_item_inner h3 {
    margin-bottom: 3%;
  }
  .flow_item_img {
    width: 100%;
    margin-bottom: 3%;
  }
  .flow_item_img img {
    border-radius: 20px;
  }


  /********
   * cost *
   ********/
  .cost_items {
    width: 70%;
    margin: 4% auto;
    padding: 4% 10%;
    border: 10px double #D7E7AF;
  }
  .cost_items h3 {
    margin-bottom: 4%;
  }
  .cost_items span {
    font-size: 4.5vw;
  }
  .cost_items .br::before {
  content: "\A";
  white-space: pre;
  }


  /************
   * question *
   ************/
  .question_wrap {
    width: 100%;
  }
  .question_item {
    width: 85%;
    margin: 4% auto;
    padding: 5%;
    border: 3px dashed #D7E7AF;
  }
  .question_item_q {
    margin-bottom: 5%;
  }
  .question_item_q span {
    margin-right: 2%;
  }
  .question_item_a {
    display: flex;
  }
  .question_item_a p:first-of-type {
    margin-right: 2%;
    font-size: 4vw;
  }


  /***********
   * message *
   ***********/
  .message_wrap {
    width: 100%;
    display: block;
    justify-content: unset;
  }
  .message_left {
    width: 90%;
    padding-right: 0;
    margin: 0 auto;
  }
  .message_left p {
    margin-bottom: 3%;

  }
  .message_left p:last-of-type {
    font-size: 3.5;
  }
  .message_right {
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
  }
  .message_right_img {
    width: 50%;
    margin-bottom: 0;
  }
  .message_right_text {
    width: 45%;
    margin-left: 5%;
  }
  .message_right_text p {
    margin-bottom: 2%;
    font-size: 3vw;
  }


  /************
   * overview *
   ************/
  .overview_wrap {
    width: 90%;
    margin: 0 auto;
    display: block;
    justify-content: unset;
    align-items: unset;
    flex-flow: unset;
  }
  .overview_table {
    width: 100%;
    margin-top: 4%;
  }
  .overview_table table {
    width: 100%;
  }
  .overview_table th, .overview_table td {
    padding: 2%;
  }
  .overview_img {
    width: 100%;
    height: auto;
    overflow: unset;
    display: unset;
    align-items: unset;
  }
  .overview_map {
    width: 100%;
    height: 40vh;
    margin: 2% auto 20% auto;
  }


  /****************************************
   * footer
   ****************************************/
  footer {
    padding: 1% 0;
  }
  footer p {
    font-size: 2.5vw;
  }

}
